
# https://stackoverflow.com/questions/3596979/manifest-in-ignored-on-python-setup-py-install-no-data-files-installed

include README.md

include tcga/data/aaindex/static/parsed/aaindex.pkl.zip
include tcga/codons/static/parsed/tables.pkl.zip
exclude tcga/data/aaindex/static/original
